@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Serif Display";
  src: url("../public/fonts/DMSerifDisplayRegular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Dancing Script";
  src: url("../public/fonts/DancingScript-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Bree Serif";
  src: url("../public/fonts/BreeSerif-Regular.ttf");
  font-weight: 400;
}

/* Tailwind Styles */

body {
  @apply bg-black relative after:block after:content-[''] after:h-14 min-h-screen text-primary;
}

.container {
  @apply max-w-[1600px] mx-auto mb-10  pt-24 font-roboto bg-bgContainer rounded-b-lg sm:p-0 sm:min-h-screen sm:flex sm:flex-col sm:gap-16 sm:overflow-hidden;
}

.page_wrapper {
  @apply px-12 pb-10 sm:px-4;
}
.head_text {
  @apply text-[87px] leading-none font-dancingScript font-bold mb-10 sm:mb-8 sm:text-[50px] sm:leading-10 sm:text-center;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.line {
  @apply border border-t-0 border-b-secondary opacity-10 w-full;
}

/* FLex */
.flex_center {
  @apply flex justify-center items-center;
}

.flex_start {
  @apply flex justify-start items-start;
}

.flex_end {
  @apply flex justify-end items-center;
}

.flex_between {
  @apply flex justify-between items-center flex-wrap;
}

/* Custom Button */

.btn {
  @apply bg-transparent border-none cursor-pointer font-bree px-6 py-2 tracking-wide outline-none;
}

.btn:focus {
  @apply outline-dotted outline-blue-500;
}

.btn-border-drawing {
  box-shadow: inset 0 0 0 1px #e0e0e0;
  color: #e0e0e0;
  transition: color 0.15s 0.15s, border-color 0.15s, width 0.15s, height 0.15s;
  position: relative;
}

.btn-border-drawing::before,
.btn-border-drawing::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
}

.btn-border-drawing::before {
  border-bottom-width: 1px;
  border-right-width: 1px;
  bottom: 0;
  right: 0;
}

.btn-border-drawing::after {
  border-top-width: 1px;
  border-left-width: 1px;
  top: 0;
  left: 0;
}

.btn-border-drawing:hover {
  color: #e4c341;
}

.btn-border-drawing:hover::before,
.btn-border-drawing:hover::after {
  border-color: #e4c341;
  transition: border-color 0s, width 0.15s, height 0.15s;
  width: 100%;
  height: 100%;
}

.btn-border-drawing:hover::before {
  transition-delay: 0s, 0s, 0.15s;
}

.btn-border-drawing:hover::after {
  transition-delay: 0s, 0.15s, 0s;
}
